.formContainer{
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    text-transform: capitalize;

    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.register{
    margin-bottom: 1rem;
    font-size: 3rem;
    color:#505099;
    text-transform: capitalize;
    padding: 1rem 0;
}

.inputContainer{
    margin-bottom: 1rem; 
}

input{
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
}

input:placeholder-shown{
    text-transform: capitalize;
}

input.ng-invalid.ng-touched{
    background-color: #ff000063;
}

input.ng-valid{
    background-color: #52ec5285;
}

.genderContainer, .additionalCourseContainer {
    display: flex;
    flex-flow: row nowrap;
}

.genderContainer > *, .additionalCourseContainer > *{
    margin-right: .5rem;
}

select{
    padding: .5rem;
    border:none;
    outline: none;
}

.submitButton{
    text-transform: capitalize;
    color:white;
    padding: .5rem 1.5rem ;
    border:none;
    border-radius: 4px;
    background-color: rgb(141 121 255);
    cursor: pointer;
}

.submitButton:disabled{
    background-color: rgba(126, 103, 255, 0.452);
    cursor:not-allowed;
}

.errorCard{
    margin-top: .2rem;
}

