.outerContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(193 183 249);
    padding: 3rem;
}

.innerContainer{
    width: 100%;
    height: 100%;
    box-shadow: 0rem 0rem 7.8rem rgba(0, 0, 0, 0.336);
    border-radius: .5rem; 
    overflow: hidden;
    
    display: flex;
    flex-flow: row nowrap;
}

.left{
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex-grow: .5;
}

.right{
    height: 100%;
    flex-grow: .5;
    background-color: rgb(219, 219, 219);
}